@charset "ISO-8859-1";
*
{
    margin:0px;
    padding:0px;
    
}

html, body { margin: 0; }

:focus { outline: none; }
::-webkit-input-placeholder { color: #DEDFDF; }
::-moz-placeholder { color: #DEDFDF; }
:-moz-placeholder { color: #DEDFDF; }
::-ms-input-placeholder { color: #DEDFDF; }


background
{
    color:#1BA098;
}
h1
{
    cursor: pointer;
    display: inline-block;
    font-size: 32px;
    font-weight: 970;
    opacity: .5;
    margin-top:15px;
    margin-bottom: 35px;
    text-transform: uppercase;
}
h1:hover{
    transition: all .3s cubic-bezier(.6,0,.4,1);
    opacity: 1;
  }
 
label {
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    opacity: .5;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  label:hover {
    transition: all .3s cubic-bezier(.6,0,.4,1);
    opacity: 1;
  }
a
{
    color:white;
    text-decoration: none;
    margin-bottom:4px;
    margin-top:-10px;
    
    
}
a:hover
{
    color:darkgoldenrod;
}
.my-color
{
    background-color: #051622;
    color: #1BA098;
}
.body-color
{
    background-color: #051622;
    color:#DEB992;
}
.space
{
    width:200px;
}
.button-color
{
    background-color:#1BA098;
    color:floralwhite
    

}
.add
{
    width:35%;
    background: #3D72A4;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    height: 40px;
    margin-bottom: 26px;
    overflow: hidden;
    transition: all .1s cubic-bezier(.6,0,.4,1);
    margin-left:43%;
}
.top
{
  background:#051622;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.big
{
    width:70%;
    margin-left:15%;
    margin-right: 15%;
    height:30%;
}
.like
{
    margin-left: 2%;
}

.cards
{
    margin-left:50%;
}
h5
{
	font-size:25px;
}
h6
{
	font-size:20px;
}

