@charset "ISO-8859-1";
*
{
    margin:0px;
    padding:0px;
    
}


html, body { margin: 0; }

:focus { outline: none; }
::-webkit-input-placeholder { color: #DEDFDF; }
::-moz-placeholder { color: #DEDFDF; }
:-moz-placeholder { color: #DEDFDF; }
::-ms-input-placeholder { color: #DEDFDF; }

background
{
    background:#202020;
  	color: #fff;
  	-webkit-font-smoothing: antialiased;
}

h1
{
    cursor: pointer;
    display: inline-block;
    font-size: 32px;
    font-weight: 970;
    opacity: .5;
    margin-top:15px;
    margin-bottom: 35px;
    text-transform: uppercase;
}
h1:hover{
    transition: all .3s cubic-bezier(.6,0,.4,1);
    opacity: 1;
  }
 
label {
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    opacity: .5;
    margin-top:10px;
    text-transform: uppercase;
  }
  label:hover {
    transition: all .3s cubic-bezier(.6,0,.4,1);
    opacity: 1;
  }
a
{
    color:white;
    text-decoration: none;
    margin-bottom:4px;
    margin-top:-10px;
    
}
a:hover
{
    color:darkgoldenrod;
}
.my-color
{
    background-color: #051622;
    color: #1BA098;
}
.body-color
{
    background-color: #051622;
    color:#DEB992;
}
.button-color
{
    background-color:#1BA098;
    color:floralwhite
    

}

.top
{
  background:#051622;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.cards
{
    margin-left:50%;
  
}
 button {
    background: #3D72A4;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    height: 40px;
    width: 25%;
    margin-bottom: 10px;
    margin-top:10px;
    overflow: hidden;
    transition: all .3s cubic-bezier(.6,0,.4,1);
  }
  button span {
    display: block;
    line-height: 72px;
    position: relative;
    top: -2px;
    transform: translate3d(0,0,0);
  }
  
  button:hover {
    background: #007BA5;
  }